html,
body {
    height: 100%;
    background-color: rgb(240,240,240);
}
/*
frame.php
*/
.frame {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.frame > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/*
login.php
*/
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-login-heading{
    font-size: xx-large;
    font-weight: bolder;
}

.checkbox {
  font-weight: normal;
  margin-bottom: 10px;
}

.form-login .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.forget-password{
    float: right;
}

.no-account{
    text-align: center;
    font-size: small;
}

.login-error{
    color: red;
}

/*
signUp.php
*/
